.badge-overflow {
    display: inline-block;
}

.badge-cont {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 1rem;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

.svg-holder {
    position: relative;
    height: 2rem;
    width: 2rem;
    color: var(--color-text);
    touch-action: manipulation;
}

.badge-tooltip-cont {
    display: inline-block;
}

.svg-label-tooltip {
    margin-top: 0.375rem;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0s linear 0.3s;
}

.badge-cont:hover .svg-label-tooltip {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    transition-delay: 0s;
}

.badge-cont:active .svg-label-tooltip {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    transition-delay: 0s;
}

.badge-icon-belt {
    display: flex;
    overflow-x: auto;
    justify-content: start;
    padding-top: 16px;
    padding-bottom: 22px;
    padding-right: 16px;
}

@media only screen and (max-width:650px) {
    .badge-cont {
        width: 1.5rem;
        height: 1.5rem;
    }

    .svg-holder {
        height: 1.5rem;
        width: 1.5rem;
    }

    .badge-icon-belt {
        padding-top: 0px;
        padding-right: 16px;
    }
    
}