/*Theme Color Logic*/
:root{
  --color-accent: #f2a365;
  --color-accent-dark: #e1701a;
  --color-accent-mobilemenu: #ffd56b;
  --color-accent-active: #fd7014;
  /* Chatham's Blue */
  --color-homepage-accent: #0F4C75;
  --color-menuicon: #0f4c75;
  --color-menuicon-active: #3282b8;
  /* --color-link: #ff7f50; */
  --color-link:#ff6026;
  --transition-speed: 350ms;
}
/*TODO LINK COLORS*/
.lightmode{
    --color-primary: #FDFDFD;
    --color-text: #000000;
    --color-blockquote: #ececec;
    --color-listitem: #FCF5E5; 
    --color-link-title: #3282b8;
    --color-banner: #cccccc;  
}
.darkmode{
    /* --color-primary: #2b3d4f; */
    --color-primary: #10212f;
    --color-text: #FDFDFD;
    --color-blockquote: #2b3d4f;
    --color-listitem: #3d5770;
    --color-link-title: #f2a365;  
    --color-banner:#435560;
}
a{
  color: var(--color-link);
}