.exp-hr-cont {
    display: flex;
    justify-content: center;
}

.exp-hr {
    width: 90%;
    margin: 0;
}

.coyLogo {
    max-height: 64px;
    width: auto;
    align-self: center;
}

.stripMargin {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    text-align:left;
}

/* Contains the card and timeline */
.expComponentContWrap {
    width: 100%;
    display: flex;
}

.expComponentCont {
    width: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 6px;
}

.circle {
    border-radius: 50em;
    min-width: 14px;
    min-height: 14px;
    background-color: var(--color-primary);
    border: 2px solid var(--color-text);
    align-self: center;
    /* margin-right: 14px; */
    margin-left: -10px;
}

.expCurrent {
    background-color: var(--color-accent);
}

/* Experience Card CSS */
.expCard {
    display: flex;
    flex-direction: column;
    border-left: 2px solid var(--color-accent);
    width: inherit;
}

.expHeaderCont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    max-width: inherit;
}

.expHeader {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
}

.expTitleCont {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    justify-items: center;
    justify-content: space-around;
}

.exp-up-btn {
    height: 24px;
    width: 24px;
    display: none;
    margin-left: 1rem;
}

.exp-down-btn {
    height: 24px;
    width: 24px;
    margin-left: 1rem;
}

.expBody {
    padding-left: 1rem;
    /* display: none; */
    max-height: 0;
    padding-bottom: 4px;
    height: auto;
    width: 95%;
    max-width: 95%;
    overflow: hidden;
    transition: max-height 0.35s ease;
}

.expBody.open {
    max-height: 0;
}

.expDescCont {
    width: inherit;
    overflow-wrap: break-word;
}

.expStackCont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width:650px) {
    .coyLogo {
        max-height: 48px;
        width: auto;
    }

    .circle {
        min-width: 10px;
        min-height: 10px;
        align-self: center;
        margin-left: -8px;
    }

    .expHeader {
        margin-left: 0.5rem;
    }

    .exp-up-btn {
        margin-left: 0.25rem;
    }
    
    .exp-down-btn {
        margin-left: 0.25rem;
    }
}