.featured-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.featured-title {
    margin-top: 0.5rem;
    margin-left: 4rem;
}

.featured-container {
    flex-grow: 1;
    display: flex;
}

.featured-article-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    width: 20rem;
    min-height: 12rem;
    height: max-content;
    background-color: var(--color-listitem);
    border: 3px transparent solid;
}

.featured-article-card:hover {
    transform: scale(1.025);
    border: 3px var(--color-accent) solid;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition: transform 0.2s ease-in-out;
    -ms-transition: transform 0.2s ease-in-out;
}

.featured-article-link {
    color: var(--color-link-title);
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.featured-article-title {
    justify-content: center;
    text-decoration: underline;
    color: var(--color-link-title);
    margin-inline: 1rem;
    text-align: center;
}

.featured-article-description {
    margin-top: 0rem;
    max-width: 18rem;
    margin-inline: 1rem;
    color: var(--color-text);
    text-decoration: none;
}

@media only screen and (max-width:650px) {
    .featured-article-card {
        width: 14rem;
        min-height: 8rem;
        height: min-content;
        max-height: 16rem;
    }

    .featured-article-description {
        max-width: 12rem;
    }
    .featured-title {
        margin-top: 0.25rem;
        margin-left: 1.5rem;
    }
}