/* Fonts are served from CDN where appropriate, else locally served */

@font-face {
    font-family: MenuFont;
    src:
        url("https://fonts.bunny.net/poppins/files/poppins-latin-500-normal.woff2") format('woff2'),
        url("/fonts/Raleway/Raleway-Bold.ttf");
}

@font-face {
    font-family: MainTitle;
    src:
        url("https://fonts.bunny.net/poppins/files/poppins-latin-500-normal.woff2") format('woff2'),
        url("/fonts/Raleway/Raleway-SemiBold.ttf");
}

@font-face {
    font-family: MainBody;
    /*Include Regular, Bold, BoldItalic, Italic*/
    src:
        url("https://fonts.bunny.net/open-sans/files/open-sans-latin-400-normal.woff2") format('woff2'),
        url("/fonts/OpenSans/OpenSans-Regular.ttf"),
        url("/fonts/OpenSans/OpenSans-Bold.ttf"),
        url("/fonts/OpenSans/OpenSans-BoldItalic.ttf"),
        url("/fonts/OpenSans/OpenSans-Italic.ttf");

}

@font-face {
    font-family: MainMonospace;
    src: 
        url("https://fonts.bunny.net/fira-mono/files/fira-mono-latin-400-normal.woff2") format('woff2')
}

/*Preload menu font to avoid ugly loading delay*/
.fontloader{
    font-family: MenuFont;
}

/*Do not edit --- Global Declaration of Fonts*/
p, ol, li, em{
    text-align: justify;
    font-family: MainBody, sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
}
/*For use in list.html templates*/
.plistitem{
    font-family: MainBody, sans-serif;
    font-size: 1rem;
}
h1{
    font-family: MainTitle, sans-serif;
    font-size: 1.625rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
}
h2, summary{
    font-family: MainTitle, sans-serif;
    font-size: 1.375rem;
    font-weight: normal;
}
h3{
    font-family: MainTitle, sans-serif;
    font-size: 1.25rem;
    font-weight: normal;
}
h4{
    font-family: MainTitle, sans-serif;
    font-size: 1.125rem;
}
ul{
    padding-left: 1rem;
}
/*Support up to 4 headers, add more if necessary*/
code{
    font-family: MainMonospace, monospace;
    font-size: 0.9rem;
}
figcaption{
    text-decoration: underline;
    font-style: italic;
    font-family: MainBody, sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
    text-align: left;
}
.footertext{
    font-size: 0.875rem;
}
.menu-item-text, .home-text{
    font-size: 1rem;
}
.experienceSummary {
        font-size: 1.25rem;
}
td {
    font-size: 1rem;
}
th {
    font-size: 1rem;
}

/* markdown code fence config */
.highlight table, .chroma table { border-collapse: collapse; border-spacing: 0; }
.highlight td:first-child, .chroma td:first-child { text-align: right; padding-right: .3rem; vertical-align: top; }
.highlight pre code span, .chroma pre code span { display: inline !important; white-space: pre !important; }

@media only screen and (max-width: 650px) {
    p, ol, li, em{
        text-align: justify;
        font-family: MainBody, sans-serif;
        font-size: 0.75rem;
    }
    /*For use in list.html templates*/
    .plistitem{
        text-align: justify;
        font-family: MainBody, sans-serif;
        font-size: 1rem;
    }
    h1{
        font-family: MainTitle, sans-serif;
        font-size: 1.25rem;
    }
    h2, summary{
        font-family: MainTitle, sans-serif;
        font-size: 1.125rem;
    }
    h3{
        font-family: MainTitle, sans-serif;
        font-size: 1rem;
    }
    h4{
        font-family: MainTitle, sans-serif;
        font-size: 0.875rem;
    }
    /*Support up to 4 headers, add more if necessary*/
    code{
        font-family: MainMonospace, monospace;
        font-size: 0.75rem;
    }
    figcaption{
        font-size: 0.75rem;
    }
    .menu-item-text {
     font-size: 2rem;   
     color: var(--color-accent-mobilemenu);
    }
    .home-text{
        font-size: 0.75rem;
    }
    .footertext{
        font-size: 0.625rem;
    }
    .experienceSummary {
        font-size: 1rem;
    }
    td {
        font-size: 0.75rem;
    }
    th {
        font-size: 0.75rem;
    }
}