:root {
  
  /*FFOX COMPAT*/
  scrollbar-width: thin;
  scrollbar-color: #bbe1fa #30475e;
  /*light-darkmode*/

}
*::-webkit-scrollbar{
    width:0.25rem;
}
*::-webkit-scrollbar-track{
    background: #30475e;
}
*::-webkit-scrollbar-thumb{
    background: #bbe1fa;
}
summary{
    cursor: pointer;
    display: inline;
}
main {
    flex: 1;
}
.bodycontainer{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-text);
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
}
.footnote-ref, .footnote-backref{
    color: var(--color-link);
}
blockquote{
    background: var(--color-blockquote);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1px;
    padding-bottom: 1px;
    word-wrap:break-word;
    border-left: .25rem solid var(--color-accent-dark); 
}
footer{
    background-color: #1b262c;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    justify-content: space-evenly;
    margin-top: auto;
}
hr{
    border-top:none;
    border-bottom: 1px solid var(--color-accent-active);
}
/*Table/Code block*/
tbody{
    overflow-x: auto;
    word-wrap: break-word;
}

.listitem{
    display: flex;
    flex-direction: column;
    background-color: var(--color-listitem);
    margin: 1rem;
    border-radius: 10px;
}
.listTitleLink{
    color: var(--color-link-title);
    text-decoration: none;
}
/*Single.html tag*/
.tags{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width:50vw;
}
.taglist{
    display: flexbox;
    flex-wrap: wrap;
}
.tagitem{
    display:inline-flex;
    background-color: var(--color-listitem);
    margin: 1rem;
    margin-inline: 1rem;
    border-radius: 10px;
}
.tagitemlink{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-link-title);
    align-self: center;
    padding-inline: 1rem;
}
.footertext{
    font-size: 18px;
    margin-inline: 0.2rem;
}
.section{
    margin-bottom: 4rem;
}
/*Default shortcode*/
.figmd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    max-width: 50vw;
}
@media only screen and (max-width: 650px){
    .footertext{
        font-size: 12px;
    }
    blockquote{
        margin:0;
        padding-right: 20px;
    }
}

details summary:before {
    content: "▸";
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary:before{
    content: "▾";
}
summary{
    color: var(--color-link-title);
    font-weight: 700;
}