html{
    scroll-behavior: smooth;
}
:root {
  /*FFOX COMPAT*/
  scrollbar-width: thin !important;
  /* scrollbar-color: gray; */
}
*::-webkit-scrollbar{
    width:0.25rem;
    height: 4px;
}
*::-webkit-scrollbar-track{
    background: none;
}
*::-webkit-scrollbar-thumb{
    background: darkgray;
}
/* Styling the thumb of the horizontal scroll bar */
::-moz-scrollbar-thumb-horizontal {
  border-radius: 5px;
  width: 4px;
}
/* Styling the buttons of the horizontal scroll bar */
::-moz-scrollbar-button {
  display: none; /* Hide the buttons */
}
summary{
    cursor: pointer;
    display: inline;
}
main {
    flex: 1;
}
.bodycontainer{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--color-text);
    margin: 0;
    padding: 0;
    background-color: var(--color-primary);
}
sup{
    scroll-margin-top: 2rem;
}
.footnote-ref, .footnote-backref{
    color: var(--color-link);
}
blockquote{
    background: var(--color-blockquote);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1px;
    padding-bottom: 1px;
    word-wrap:break-word;
    border-left: .25rem solid var(--color-accent-dark); 
}
footer{
    background-color: #1b262c;
    display: flex;
    flex-wrap: wrap;
    flex-grow: inherit;
    justify-content: center;
    margin-top: auto;
    bottom: 0;
}
hr{
    border-top:none;
    border-bottom: 1px solid var(--color-accent-active);
}
/*Table/Code block*/
table{
    overflow: auto !important;
    display: block;
    width: auto;
}
.listitem{
    display: flex;
    flex-direction: column;
    background-color: var(--color-listitem);
    margin: 2rem;
    border-radius: 5px;
    border: 2px transparent solid;
}
.listitem:hover {
    transform: scale(1.025);
    border: 2px var(--color-accent) solid;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition:transform 0.2s ease-in-out;
    -ms-transition:transform 0.2s ease-in-out;
}
.listitem-cont {
    margin-inline: 2rem;
}
.listTitleLink{
    color: var(--color-link-title);
    text-decoration: none;
}
/*Single.html tag*/
.tags{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width:50vw;
}
.taglist{
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    justify-content: space-around;
}
.tagitem{
    display:inline-flex;
    background-color: var(--color-listitem);
    border: 1px transparent solid;
    margin: 20px;
    margin-inline: 20px;
    border-radius: 5px;
    height: 60px;
}
.tagitem:hover {
    transform: scale(1.05);
    border: 1px var(--color-accent) solid;
    -webkit-transition: transform 0.2s ease-in-out;
    -moz-transition:transform 0.2s ease-in-out;
    -ms-transition:transform 0.2s ease-in-out;
}
.tagitemlink{
    text-decoration: none;
    font-weight: bold;
    color: var(--color-link-title);
    align-self: center;
    padding-inline: 1rem;
}
.footertext{
    margin-inline: 4rem;
}
.section{
    align-self: center;
    max-width: 60vw;
    margin-bottom: 4rem;
}
/*Default shortcode*/
.figmd{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/* figsmall is usually used for less technical/entertainment pictures */
.figsmall{
    width: 30vw;
}
.fignormal{
    width: max-content;
}
img{
    max-width: 55vw;
    max-height: 95vh;
}
@media only screen and (max-width: 650px){
    .footertext{
        font-size: 12px;
        margin-inline: 1rem;
    }
    blockquote{
        margin:0;
        margin-top: 10px;
        padding-right: 20px;
    }
    img{
        max-width: 80vw;
        max-height: 95vh;
    }
    .section{
        max-width: 90vw;
    }
    .figsmall{
        width: max-content;
    }
    /* Redundancy */
    .fignormal{
        width: max-content;
    }
    .listitem {
        margin: 1rem;
    }
    .listitem-cont {
        margin-inline: 1rem;
    }
}

details {
    padding-bottom: 1rem;
    height: max-content;
    /* transition: height 500ms; */
}

details summary:before {
    content: "▸";
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary:before{
    content: "▾";
    transform-origin: center;
    transition: 200ms linear;
}
details[open] summary ~ * {
  animation: reveal 0.2s ease-in-out;
}
details.hiding summary ~ * {
    animation: hiding 0.2s ease-in-out;
}
@keyframes reveal {
  0%    {opacity: 0; transform: translateY(-10px)}
  100%  {opacity: 1; transform: translateY(0)}
}
@keyframes hiding {
  0%    {opacity: 1; transform: translateY(0);}
  100%  {opacity: 0; transform: translateY(-10px);}
}
summary{
    color: var(--color-link-title);
    font-weight: 500;
}
.katex .base{
    z-index: -1;
}

/* Markdown table */
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid var(--color-text);
    padding: 5px;
    font-family: MainMonospace, Consolas, monospace;
    font-size: 16px;
}