.typewriter-cursor{
    content: "";
    background-color: var(--color-primary);
    border-left: 5px solid var(--color-text);
    margin-left: 3px;
}
.typewriter-container {
    font-size: 22px;
    display: flex;
    height: 22px;
}
.typewriter {
    line-height: 1.0;
}
.blink-animation {
  animation: blink 0.5s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 650px){
    .typewriter-container {
        font-size: 14px;
        height: 14px;
    }
    .typewriter {
        line-height: normal;
    }
    .typewriter-cursor{
        border-left: 3px solid var(--color-text);
    }
}
